<div class="row">
  <div class="col-md-3">
    <%= render 'books/new', new_book: @new_book, user: @user %>
  </div>
  <div class="col-md-8 offset-md-1">
    <h2>Follows</h2>
    <%= render 'list', users: @users %>
  </div>
</div>