<%= render 'searches/search' %>
<div class="row">
  <div class="col-md-3">
    <%= render 'books/new', new_book: @new_book, user: @user %>
    <%= link_to "通知",  notifications_path %>
  </div>
  <div class="col-md-8 offset-md-1">
    <%= render 'books/list', all_books: @all_books %>
  </div>
</div>