// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_count_table {
  margin-bottom: 10px;

  & th {
    padding: 10px 80px 10px 10px;
    border: 1px solid #D3D3D3;
  }

  & td {
    padding: 10px 80px 10px 10px;
    border: 1px solid #D3D3D3;
  }
}

.post_7days_table {
  & th {
    padding: 10px 60px 10px 10px;
    border: 1px solid #D3D3D3;
  }

  & td {
    padding: 10px 60px 10px 10px;
    border: 1px solid #D3D3D3;
  }
}